<!doctpe html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> PersonalColorAI </title>
  <link rel="stylesheet" href="../static/pricing.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="../static/favicon-16x16.png">


</head>

<body>
  <div class="Header">
    <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  
      <a href="/"><img class="logo" src="https://raw.githubusercontent.com/noel-sumini/personalcolorAI/master/LOGO_type3%20(1).png" width="134" height="50"></img></a>
      <!-- <div class="addthis_inline_share_toolbox_uog9"></div> -->
    </div>
  </div>
  <div class="container py-5">
  
      <div class="row py-4">
        <div class="col-lg-6 mx-auto">
  
          <!-- Upload image input-->
  
            <form method="POST" enctype="multipart/form-data" name = "file" class = 'input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm' >
              <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0 " name="file">         
              <input type="submit" class="btn btn-light m-0 rounded-pill px-4" />
            </form>
  
  
          <!-- Uploaded image area-->
          <p class="font-italic text-black text-center"> {{ intro1 }} </p>
          <p class="font-italic text-black text-center"> {{ intro2 }} </p>
          
          <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
              class="img-fluid rounded shadow-sm mx-auto d-block"></div>
  
        </div>

        <!-- loader 기능 -->
<!-- 
        <div class="container" id = "loader">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
          <div class="dot dot-3"></div>
        </div>
        
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
          <defs>
            <filter id="goo">
              <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
            </filter>
          </defs>
        </svg> -->

      </div>
      <div id = "result">
        <p id= "result_data"> <strong> {{ result }} </strong> </p>
        <img src= "{{ color_result_src }}" class = "color_result_src img-fluid rounded shadow-sm mx-auto d-block">
        
        <br>  
        <br>
        <br>
        <p id= "celeb_data"> <strong> {{ celeb_data }} </strong> </p>
        

        <div class = "container" id = "celeb_name"> 

          <div class = "row">
            <div class="col-3 text-center"> {{ celeb_name1 }} </div>
            <div class="col-1"></div>
            <div class="col-3 text-center" > {{ celeb_name2 }} </div>
            <div class="col-1"></div>
            <div class="col-3 text-center"> {{ celeb_name3 }} </div>
            <div class="col-1"></div>
          </div>


          <div class = "row">
          <div class="col-3"> 
            <img id = celeb_img_1 src="{{ celeb_img_1 }}" class = "img-fluid rounded shadow-sm d-block">
          </div>
          <div class="col-1"></div>
          <div class="col-3"> 
            <img id = celeb_img_2 src="{{ celeb_img_2 }}" class = "img-fluid rounded shadow-sm d-block">
          </div>
          <div class="col-1"></div>
          <div class="col-3"> 
            <img id = celeb_img_3 src="{{ celeb_img_3 }}" class = "img-fluid rounded shadow-sm d-block">
          </div>
          <div class="col-1"></div>
          </div>


        </div>
          
        
        <!-- <img id = celeb_img_1 src="{{ celeb_img_1 }}" class = "img-fluid rounded shadow-sm d-block">
        <img id = celeb_img_2 src="{{ celeb_img_2 }}" class = "img-fluid rounded shadow-sm d-block">
        <img id = celeb_img_3 src="{{ celeb_img_3 }}" class = "img-fluid rounded shadow-sm d-block"> -->
      
      </div>
  </div>

  <footer class= "container border-top">
    <div class="col-6">
        <small class="d-block text-muted">&copy; AI Inventors</small>
        <small class="d-block text-muted">ai.inventers@gmail.com</small>
    </div>
    <div class="col-6">
      <small class = "d-block text-muted">Copyright by AI Inventors</small>
      <small class = "d-block text-muted">since 2020</small>
    </div>

  </footer>
  


  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ef53b49cbe11b0e"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <script type= "text/javascript">
    
  /*  ==========================================
      SHOW UPLOADED IMAGE
  * ========================================== */
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#imageResult')
            .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(function () {
      $('#upload').on('change', function () {
        readURL(input);
      });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = 'File name: ' + fileName;
    }

  </script>


</body>
</html>



