<!doctpe html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> PersonalColorAI </title>
  <link rel="stylesheet" href="../static/pricing.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="../static/favicon-16x16.png">


</head>

<body>
  <!-- <div class="loader" id = "loader">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
  </div> -->

  <div class="Header">
    <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  
      <a href="/"><img class="logo" src="https://raw.githubusercontent.com/noel-sumini/personalcolorAI/master/LOGO_type3%20(1).png" width="134" height="50"></img></a>
      <!-- <div class="addthis_inline_share_toolbox_uog9"></div> -->
    </div>
  </div>
  <div class="container py-5">


      <div class="row py-4">
        <div class="col-lg-6 mx-auto">
          <!-- Upload image input-->
            <form method="POST" enctype="multipart/form-data" name = "file" class = 'input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm' >
              <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0 " name="file">
              <label id="upload-label" for="upload" class="btn btn-light m-0 rounded-pill px-4">파일 선택</label>         
              <input type="submit" class="btn btn-light m-0 rounded-pill px-4" id = "submit" onclick="loader()">
                     
            </form>
  
          <!-- Uploaded image area-->
          <p class="font-italic text-black text-center"> {{ intro1 }} </p>
          <p class="font-italic text-black text-center"> {{ intro2 }} </p>
          



          <div class="image-area mt-4"><img id="imageResult" src="#" alt=""
              class="img-fluid rounded shadow-sm mx-auto d-block"></div>
  
        </div>

      </div>


      
     
  </div>

  <div class = "ad_fit">
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-1jensub3nm82s" 
        data-ad-width   = "320" 
        data-ad-height  = "100"></ins> 
  </div>
  



  <footer class= "border-top">
        <small class = "d-block text-muted">&copy; AI Inventors</small>
        <small class = "d-block text-muted">ai.inventers@gmail.com</small>
        <small class = "d-block text-muted">Copyright by AI Inventors</small>
        <small class = "d-block text-muted">since 2020</small>
  </footer>
  
  

 

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ef53b49cbe11b0e"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  
  <script type= "text/javascript">
    
  /*  ==========================================
      SHOW UPLOADED IMAGE
  * ========================================== */
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#imageResult')
            .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(function () {
      $('#upload').on('change', function () {
        readURL(input);
      });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = 'File name: ' + fileName;
    }

  </script>
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

  <script type="text/javascript"> 
    function loader(){
      var maskHeight = $(document).height();
      var maskWidth = window.document.body.clientWidth;

      var mask = "<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
      var loadingImg= '';
      loadingImg = loadingImg + "<img src='../static/loader.gif' style='position: absolute; z-index: 10000; display: block; margin: 0px auto;'>";
      

      $('body').append(mask);
      $('#mask').css({
        'width' : maskWidth,
        'height': maskHeight,
        'opacity' : '0.3'
      });

      

      $('#mask').show();

      $('body').prepend(loadingImg)
      $('#loadingImg').show();
      

      // document.getElementById('loader').style.display="block";
      // window.onbeforeunload = function(){
      //   $('#loader').show();
      // }
    }
  
  </script>


 
</script>
</body>
</html>



