<!doctpe html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> PersonalColorAI </title>
  <link rel="stylesheet" href="../static/pricing.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="shortcut icon" href="../static/favicon-16x16.png">
  <link rel="stylesheet" href="../static/font.css">


</head>

<body>


  <div class="Header">
    <div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <div class="container">
        <div class = "row">
          <div class = "col-6">
            <a href="/"><img id = "logo" src="../static/LOGO_type4.png" height="50"></img></a>
          </div>
          <div id = "addthis">
            <div class="addthis_inline_share_toolbox" id = "share"></div>
          </div>
        </div>
        
      </div>
      
      <!-- <a href="/"><img class="logo center-block mx-auto" src="../static/LOGO_type5.png" height="50"></img></a> -->
    </div>
  </div>

  <div class="container py-2 mb-5">


      <div class="row py-1">
        <div class="col-lg-6 mx-auto">
          <!-- Upload image input-->
            <form method="POST" enctype="multipart/form-data" name = "file" class = 'input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm' >
              <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0 " name="file">
              <label id="upload-label" for="upload" class="btn btn-light m-0 rounded-pill px-4">파일 선택</label>         
              <input type="submit" class="btn btn-light m-0 rounded-pill px-4" id = "submit" onclick="loader()">
                     
            </form>
  
          <!-- Uploaded image area-->
          <p class="font-italic text-black text-center"> {{ intro1 }} </p>
          <p class="font-italic text-black text-center"> {{ intro2 }} </p>
          <p class="font-italic text-danger text-center"> 본인의 원래 피부톤과 가장 가까운 사진을 제출해주세요 </p>
          
          <div class = "py-3 mt-5" id = "content">
            <p class = "d-block text-muted text-center"> 퍼스널 컬러란?</p>
            <p class = "d-block text-muted text-center"> 본인과 가장 잘 어울리는 </p>
            <p class = "d-block text-muted text-center"> '본인만의 고유한' 컬러를 의미합니다.</p>
          </div>

          <div class="image-area mt-3">
            <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
          </div>
          
        </div>

      </div>


      
     
  </div>


  <div class = "ad_fit">
        <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-1jensub3nm82s" 
        data-ad-width   = "320" 
        data-ad-height  = "100"></ins> 
  </div>
  
  <footer class= "border-top">
    <div class = "container">
      <div class = "row">
        <div id = "col-6">
          <small class = "d-block text-muted"> Copyright by &copy; AI Inventors</small>
          <small class = "d-block text-muted">ai.inventers@gmail.com</small>
        </div>
        </div>
      </div>
    </div>
        
  </footer>
  
  

 

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f032f5d4a446dc0"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  
  <script type= "text/javascript">
    
  /*  ==========================================
      SHOW UPLOADED IMAGE
  * ========================================== */
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('#content').hide()
          $('#imageResult')
            .attr('src', e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    $(function () {
      $('#upload').on('change', function () {
        readURL(input);
      });
    });

    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

  </script>
  <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
  


 
</script>
</body>
</html>



